<ul>
    <h5>{{ heading }}</h5>
    {{ form_start(form)}}
    {{ form_end(form) }}
    <br>
    {% for message in app.flashes('notice') %}
        <p style="color: #CE272D">{{ message }}</p>
    {% endfor %}
    <a href="{{ path('app_admin') }}" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-1">назад в меню</a>
</ul>